BOT_TOKEN=your_token_bot
AITOKEN=your_token_aitoken
BASE_URL=your_base_url
PROXY=your_proxy # example:http://fSisnMwf:kek3214q@77.12.53.103:545345
# СРАЗУ ПРЕДУПРЕЖДАЮ ЕСЛИ ПРОКСИ НЕТ ПОЛНОСТЬЮ ЕГО ЗАКОМИТИТЕ "#PROXY=" ВОТ ТАК